<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactUtility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67FA98011CA95CC300A15C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67FA98171CA95CC300A15C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67FA98221CA95CC300A15C2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
